## Python para Análise de Dados - Pandas

In [1]:
import pandas as pd

In [2]:
caminho_arquivo = "./dados/kc_house_data.csv"

#importa arquivo csv. 
dataset = pd.read_csv(caminho_arquivo, sep=',', header=0)

In [3]:
#Imprimindo o tipo da variavel dataset
type(dataset)

pandas.core.frame.DataFrame

In [4]:
#Imprime 5 primeiras linhas do dataframe
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
# index_col informa qual coluna o dataframe será indexado
dataset = pd.read_csv(caminho_arquivo, sep=",", index_col='date')
dataset.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
date,,,,,,,,,,,,,,,,,,,,
20141013T000000,7129300520,221900.0,3.0,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
20141209T000000,6414100192,538000.0,3.0,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
20150225T000000,5631500400,180000.0,2.0,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
20141209T000000,2487200875,604000.0,4.0,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
20150218T000000,1954400510,510000.0,3.0,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
# Recupera somente as colunas selecionadas
dataset = pd.read_csv(caminho_arquivo, sep=",", usecols=["id", "date", "price", "bedrooms"])

In [7]:
# Importando todas as colunas 
dataset = pd.read_csv(caminho_arquivo, sep=',', header=0)
#lendo mais de 5 linhas no head
dataset.head(100)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1483300570,20140908T000000,905000.0,4.0,2.50,3300,10250,1.0,0,0,...,7,2390,910,1946,1991,98040,47.5873,-122.249,1950,6045
96,3422049190,20150330T000000,247500.0,3.0,1.75,1960,15681,1.0,0,0,...,7,1960,0,1967,0,98032,47.3576,-122.277,1750,15616
97,1099611230,20140912T000000,199000.0,4.0,1.50,1160,6400,1.0,0,0,...,7,1160,0,1975,0,98023,47.3036,-122.378,1160,6400
98,722079104,20140711T000000,314000.0,3.0,1.75,1810,41800,1.0,0,0,...,7,1210,600,1980,0,98038,47.4109,-121.958,1650,135036
99,7338200240,20140516T000000,437500.0,3.0,2.50,2320,36847,2.0,0,2,...,9,2320,0,1992,0,98045,47.4838,-121.714,2550,35065

In [8]:
# Retorna o nome das colunas
dataset.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [9]:
# Retorna a quantidade de linhas de todas as colunas
dataset.count()

id               21613
date             21613
price            21613
bedrooms         21609
bathrooms        21613
sqft_living      21613
sqft_lot         21613
floors           21612
waterfront       21613
view             21613
condition        21613
grade            21613
sqft_above       21613
sqft_basement    21613
yr_built         21613
yr_renovated     21613
zipcode          21613
lat              21613
long             21613
sqft_living15    21613
sqft_lot15       21613
dtype: int64

In [10]:
# Describe() retorna diversas estatísticas do dataframe
dataset.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21609.000000,21613.000000,21613.000000,2.161300e+04,21612.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370910,2.114757,2079.899736,1.510697e+04,1.494332,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930084,0.770163,918.440897,4.142051e+04,0.539991,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [11]:
# Imprime as últimas linhas do arquivo
dataset.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3.0,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4.0,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2.0,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3.0,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2.0,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [12]:
# Retorna uma amostra aleatória do dataframe
dataset.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21061,982850120,20150303T000000,390000.0,3.0,2.25,1490,4539,2.0,0,0,...,7,1490,0,2009,0,98028,47.7607,-122.233,1750,4667
19344,2114700090,20150301T000000,151000.0,2.0,0.75,720,5040,1.0,0,0,...,4,720,0,1949,0,98106,47.5323,-122.347,1290,4120
1544,6071600270,20140603T000000,495000.0,4.0,2.25,2220,8872,1.0,0,0,...,8,1110,1110,1961,0,98006,47.5491,-122.170,2220,9106
7209,5137000170,20141217T000000,352500.0,4.0,2.50,2100,10750,1.0,0,2,...,8,2100,0,1967,0,98023,47.3338,-122.337,2310,10425
16803,7116500920,20140520T000000,300000.0,6.0,5.25,2860,5682,2.0,0,0,...,7,2860,0,1978,0,98002,47.3030,-122.221,1390,5956

In [13]:
# Retorna a quantidade de linhas e colunas do dataframe
dataset.shape

(21613, 21)

In [14]:
# Imprime informações sobre o dataframe
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21609 non-null  float64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21612 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

## Analisando um Dataframe com Profiling

In [18]:
import pandas_profiling

ModuleNotFoundError: No module named 'pandas_profiling'

Lendo o arquivo e construindo dataframe chamado df

In [ ]:
arquivo = "./dados/kc_house_data.csv"
df = pd.read_csv(arquivo, sep=",", header=0)
df.head()

Usando o Profiling no Jupyter notebook

In [ ]:
profile = pandas_profiling.ProfileReport(df)
profile

* Overview: Informações de forma resumida de todo dataset
 - Warnings: Pontos de atenção que necessitam de observação.
 - Reproduction: Estatísticas da execução do relatório
* Variables: Avalia cada variável através de estatísticas.
ex: Estatísticas descritivas, histograma, valores comuns, valores extremos
* Interactions: Gráfico de dispersão com a relação entre as variáveis
* Correlations: Gráficos com as correlações entre as variáveis. Diversos tipos de correlações.
* Missing Values: Gráfico apresentando a comparação entre variáveis para dados faltantes.

#### Gerando um relatório html

In [ ]:
profile.to_file("report_kc_house_data.html")

## Trabalhando com Grandes Arquivos

In [ ]:
#Lendo apenas as 5 primeiras linhas do arquivo
#Coloca apensar 5 primeiras linhas em memória
df = pd.read_csv(caminho_arquivo, sep=',', nrows=5)
df

In [ ]:
# Define quantas linhas cada bloco terá
chunk = pd.read_csv(caminho_arquivo, sep=',', chunksize=10000)

In [ ]:
type(chunk)

In [ ]:
# Imprime o tamanho de cada bloco
for parte in chunk:
    print(len(parte))

In [ ]:
# Define quantas linhas cada bloco terá
chunk = pd.read_csv(caminho_arquivo, sep=',', chunksize=10000)

In [ ]:
# Intera sobra cada parte do dataframe (bloco) calculando o tamanho do bedroom criando uma lista
# Gera uma nova coluna bedroom_size que recebe a lista de sizes

lista = []
for parte in chunk:
    lista.append(parte['bedrooms'] * 2)
    
dataset['bedroom_size'] = pd.concat(lista)

In [ ]:
dataset

#### Lendo base de dados pelo Linux Terminal

Auxilia para entendimento de um grande arquivo apresentando características como: qual separador, quais colunas, exemplos de dados...

In [ ]:
!head -n 5 ./dados/kc_house_data.csv

#### Selecionando somente colunas necessárias

In [ ]:
#Lendo apenas as 5 primeiras linhas do arquivo
#Coloca apensar 5 primeiras linhas em memória
df = pd.read_csv(caminho_arquivo, sep=',', nrows=5)
df

Visualizando colunas do dataframe

In [ ]:
df.columns.tolist()

Selecionando colunas

In [ ]:
df = pd.read_csv(caminho_arquivo, sep=',', usecols=['id', 
                                                    'date', 
                                                    'price', 
                                                    'lat',
                                                    'long'])
df

Lendo colunas por índice

In [ ]:
df = pd.read_csv(caminho_arquivo, sep=',', usecols=[0, 1, 2, 17, 18])
df

Uso de memória do dataframe sem seleção de colunas

In [ ]:
df = pd.read_csv(caminho_arquivo, sep=',')
df.info()

Uso de memória do dataframe sem seleção de colunas

In [ ]:
df = pd.read_csv(caminho_arquivo, sep=',', usecols=[0, 1, 2, 17, 18])
df.info()

Selecionando colunas usando lambda

In [ ]:
df = pd.read_csv(caminho_arquivo, sep=',', usecols=lambda column : column not in ['sqft_living',
                                                                                  'sqft_lot',
                                                                                  'floors'])
df

#### Trabalhando com tipos de dados adequados

* Atenção para os tipos de dados object
* Quando o pandas não consegue inferir o tipo certo, ele determina que a coluna seja do tipo object, que utiliza mais memória.
* Dados que são categóricos podem receber o tipo de dados category
* Observe o tamanho necessário para as colunas numéricas (int e float)

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df.info()

Convertendo os tipos de dados

In [ ]:
df.Sex = df.Sex.astype("category")
df.Embarked = df.Embarked.astype("category")
df.Survived = df.Survived.astype("category")
df.Pclass = df.Pclass.astype("category")

df.PassengerId = df.PassengerId.astype("int32")
df.Parch = df.Parch.astype("int32")
df.SibSp = df.SibSp.astype("int32")

Veja o uso de memória

In [ ]:
df.info()

Quase 50% em ganho de memória!

Convertendo coluna no momento da leitura da base de dados

In [ ]:
arquivo = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(arquivo, dtype = {"Embarked": "category", "Survived": "category", "Parch": "int32"})

In [ ]:
df.info()

## Consultando um dataframe

* Podemos fazer consultas em um Dataframe, isso se assemelha ao SQL
* Existem métodos interessantes para fazer consultas usando operadores lógicos (>, <, ==)
* Além disso, podemos fazer consultas usando instruções de agrupamento, por exemplo.
* Isso da muita flexibilidade para exploração do dado

In [ ]:
caminho_arquivo = "./dados/kc_house_data.csv"
df = pd.read_csv(caminho_arquivo, sep=',', header=0)

value_counts: conta a frequência na base

In [ ]:
pd.value_counts(df['bedrooms'])

Método .loc recebe uma lista por parâmetro e retorna o resultado de uma consulta

In [ ]:
#lista de valores que atendem ou não a condição
#.loc retorna quem está como true
print(df['bedrooms']==3)

df.loc[df['bedrooms']==3]

In [ ]:
#Retorna o resultado das condições bedrooms = 3 e bathrooms > 2
df.loc[(df['bedrooms']==3) & (df['bathrooms'] > 2)]

Ordenação por valores

In [ ]:
df.sort_values(by='price', ascending=False)

Imprimir o número de linhas utilizando uma condição

In [ ]:
# Usando o método count() para contar o número de linhas de uma query
df[df['bedrooms']==4].count()

## Alterando o dataframe

In [ ]:
df.head()

Adicionando uma coluna

In [ ]:
#Adicionando a coluna size
df['size'] = (df['bedrooms'] * 20)

In [ ]:
df.head()

Aplicando uma função no dataframe

In [ ]:
def categoriza(s):
    if s >= 80:
        return 'Big'
    elif s >= 60:
        return 'Medium'
    elif s >= 40:
        return 'Small'

In [ ]:
# criando a coluna cat_size a partir do processamento 
# feito com a aplicação de categoriza() na coluna size
df['cat_size'] = df['size'].apply(categoriza)

In [ ]:
df.head()

In [ ]:
pd.value_counts(df['cat_size'])

Excluindo dados do Dataframe

In [ ]:
# Método .drop é usado para excluir dados no dataframe
# axis=1 define que excluirá uma coluna
# inplace=True define que a alteração será efetivada no dataframe
df.drop(['cat_size'], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df.drop(['size'], axis=1, inplace=True)

In [ ]:
df.head()

Excluindo linhas baseado em Condições Lógicas

In [ ]:
df['bedrooms'].value_counts()

In [ ]:
# .drop recebe uma lista. 
# Para excluisão, necessita receber uma lista
print(df[df.bedrooms > 10].index)
df.drop(df[df.bedrooms > 30].index, inplace=True)

In [ ]:
df['bedrooms'].value_counts()

Alterando o dataframe percorrendo linha a linha

In [ ]:
# Percorrendo e atualizando as linhas de um dataframe
# Atualiza o valor da coluna PRICE multiplicando seu valor por 2
# É preciso usar o método at()
for indice, linha in df.iterrows():
    df.at[indice, 'price'] = linha['price'] * 2
df

## Percorrendo linhas de um Dataframe

- Método iterrows() permite percorrer todas as linhas do dataframe
- Esse método retorna um objeto **iterator** que contém um índice de cada linha e cada linha tem um dado do tipo série
- iterrows() retorna um objeto do tipo generator, que é um iterator

In [ ]:
caminho_arquivo = "./dados/kc_house_data.csv"
df = pd.read_csv(caminho_arquivo, sep=',', header=0)

In [ ]:
type(df.iterrows())

In [ ]:
# Imprime a primeira linha do objeto iterator
next(df.iterrows())

Percorrendo dataframe

In [ ]:
# Imprimindo a linha toda
for indice, linha in df.head(10).iterrows():
    print(indice, linha)

In [ ]:
# Imprimindo o índice e algumas colunas
for indice, linha in df.head(10).iterrows():
    print(indice, linha['bedrooms'], linha['floors'], linha['price'])

Percorrendo um dataframe com o método intertuples()

- Retorna as linhas e índice em formato de tuplas
- Costumar ser **mais rápido** que o interrows()

In [ ]:
for linha in df.head().itertuples():
    print(linha)

In [ ]:
for linha in df.head().itertuples():
    print(linha.id, linha.bedrooms, linha.price)

## Missing Values

- Missing Values são valores faltantes em colunas, esses podem ser oriundos de falhas em cargas de dados, falhas em crawler ou até mesmo corrupção de dados 
- Missing Values podem ser um problema em várias situaçẽos, como por exemplo, algoritmos de machine learning que não trabalham bem com dados faltantes.
- Estes também podem atrapalhar resultados de análises

In [ ]:
caminho_arquivo = "./dados/kc_house_data.csv"
df = pd.read_csv(caminho_arquivo, sep=',', header=0)

#### Consultando linhas com valores faltantes na coluna

In [ ]:
df.isnull().sum()

#### Tratando missing values

Remover as linhas com valores faltantes

In [ ]:
df = pd.read_csv(caminho_arquivo, sep=',', header=0)

df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

Remover as linhas que tenham somente valores faltantes em todas as colunas

In [ ]:
df = pd.read_csv(caminho_arquivo, sep=',', header=0)

df.dropna(how='all', inplace=True)

In [ ]:
df.isnull().sum()

Preenche com a média dos valores da coluna

In [ ]:
df = pd.read_csv(caminho_arquivo, sep=',', header=0)

df['floors'].fillna(df['floors'].mean(), inplace=True)

In [ ]:
df.isnull().sum()

Preenchendo com uma constante

In [ ]:
df = pd.read_csv(caminho_arquivo, sep=',', header=0)

df['bedrooms'].fillna(1, inplace=True)

In [ ]:
df.isnull().sum()

## Visualização de dados

In [ ]:
caminho_arquivo = "./dados/kc_house_data.csv"
df = pd.read_csv(caminho_arquivo, sep=',', header=0)

Plotando um gráfico de barras com preço de imóveis

In [ ]:
%matplotlib notebook
df['price'].plot()

Plotando o gráfico de dispersão com o preço e número de quartos de imóveis

In [ ]:
df.plot(x='bedrooms', y='price', kind='scatter', title='Bedroom x Price', color='r')

Plotando o gráfico de dispersão com o preço e número de banheiros de imóveis

In [ ]:
df.plot(x='bathrooms', y='price', kind='scatter', title='Bathrooms x Price', color='y')

## Histograma

In [ ]:
caminho_arquivo = "./dados/kc_house_data.csv"
df = pd.read_csv(caminho_arquivo, sep=',', header=0)

In [ ]:
%matplotlib notebook
df['price'].hist(bins=30, color='red')

In [ ]:
%matplotlib notebook
df['price'].hist(bins=80, color='red')

In [ ]:
%matplotlib notebook
df[['bedrooms','bathrooms']].hist(bins=30, alpha=0.5, color='green')

## Estatística Descritiva

In [ ]:
caminho_arquivo = "./dados/kc_house_data.csv"
df = pd.read_csv(caminho_arquivo, sep=',', header=0)

Média

In [ ]:
df['bedrooms'].mean()

Máximo

In [ ]:
df['bedrooms'].max()

Mínimo

In [ ]:
df['bedrooms'].min()

Desvio Padrão

In [ ]:
df['bedrooms'].std()

skew() - Retorna a simétria da coluna
- valor zero indica uma distribuição simétrica
- valor maior ou menos que zero indica distribuição assimétrica
- valores acima de zero indica uma assimétrica positiva
- valores abaixo de zero indica uma assimétrica negativa
- valores muito acima de zero indicam que existem mais valores acima da média
- valores abaixo de zero significa que contém mais valores abaixo da média

In [ ]:
df['bedrooms'].skew()

In [ ]:
df.skew()

## Boxplot

Auxilia no entendimento sobre a variabilidade do dado, máximos, mínimos e outliers

- O retângulo é formado por três Quartis que dividem os dados em rols com 25\% dos dados cada.
- Q3 - É a borda superior do retângulo e representa o valor médio dos 75\% dos dados.
- Q2 - É a mediana. É representada pela linha do meio.
- Q1 - É a linha inferior do retângulo que representa o valor médio dos 25\% dos dados
- Linhas superiores e inferiores, representam os valores de máximo e mínimo, respectivamente.
- Outliers - Estão além dos valores de máximo e mínimo.

![Boxplot](./img/boxplot.png)

#### Outliers

Como definição: _"Os outliers são dados que se diferenciam drasticamente de todos os outros, são pontos fora da curva normal (o que é curva normal?). Em outras palavras, um outlier é um valor que foge da normalidade e que pode (e provavelmente irá) causar anomalias nos resultados obtidos por meio de algoritmos e sistemas de análise."_

![Outliers](./img/outliers.png)

#### Na prática

In [ ]:
import matplotlib

caminho_arquivo = "./dados/kc_house_data.csv"
df = pd.read_csv(caminho_arquivo, sep=',', header=0)

In [ ]:
%matplotlib notebook
matplotlib.style.use('ggplot')

df.boxplot(column="bedrooms")

In [ ]:
%matplotlib notebook
df.boxplot(column="price", by="bedrooms")

## Correlação

Informam o nível de dependência entre variáveis.

Correlação positiva: se uma variável aumenta, a outra tende a aumentar.

Correlação negativa: se uma variável aumenta, a outra tende a diminuir.

In [ ]:
#Imprime a correlação de person entre todas as colunas
df.corr()

In [ ]:
# Correlação de sperman, que leva em consideração a correlação positiva e negativa dos dados
df.corr('spearman')

In [ ]:
df[['bedrooms','bathrooms','sqft_living','floors','waterfront','grade','price']].corr()

In [ ]:
%matplotlib notebook
df[['sqft_living', 'waterfront','grade','price']].corr().plot()

## Tabelas Pivot

- São uteis para fazer agrupamento nos dados
- index: informa as colunas que serão usadas na agregação
- aggfunc: é usado para definir a função de agregação. Ex: count, sum, media
- margin=True: calcula a quantidade total no final da tabela

In [ ]:
df.pivot_table('id', index=["waterfront", "floors"], aggfunc='count', margins=True)

In [ ]:
df.pivot_table('price', index=["waterfront", "floors"], aggfunc='mean')

## Crosstab

- Crosstab ou tabulação cruzada
- Essa funcionalidade cruza valores das variáveis
- Ex: Cruza o número de quantos com o valor da condição do imóvel

In [ ]:
pd.crosstab(df['bedrooms'], df['condition'])

In [ ]:
table = pd.crosstab(df['bedrooms'], df['condition'])
table.plot(kind='bar', width=1.0, color=['red', 'yellow', 'orange', 'blue', 'green'],
          title='Condition by Bedrooms', grid=False)

## Trabalhando com Excel

In [ ]:
!pip install xlrd
!pip install openpyxl

In [ ]:
df_excel = pd.read_excel('./dados/Controle-de-Atividades-2.0.xlsx', sheet_name=0,
                        header=1)
df_excel.head()

In [ ]:
df_excel = pd.read_excel('./dados/Controle-de-Atividades-2.0.xlsx', sheet_name=0, 
                        header=1, index_col=3)
df_excel.head()

In [ ]:
df_excel.sort_index().head()

In [ ]:
colunas = ['id', 'price', 'bedrooms', 'sqft_living', 'floors', 'waterfront']
df[colunas].head()

In [ ]:
!pip install xlwt

In [ ]:
df[colunas].to_excel('./output/planilha_pandas.xls', index=False)

## Merge entre Dataframes

### Carregando dados

Carregando pedidos

In [ ]:
orders = pd.read_csv("./dados/olist_orders_dataset.csv")
orders.head()

Carregando itens

In [ ]:
orders_items = pd.read_csv("./dados/olist_order_items_dataset.csv")
orders_items.head()

### Opções de Merge - Tipos de Joins

![](./img/joins.jpg)

#### Merge usando a coluna order_id com Inner Join

In [ ]:
query = pd.merge(orders,
                 orders_items,
                 on="order_id")
query.head()

#### Merge com seleção de colunas com Inner Join

In [ ]:
query = pd.merge(orders[['order_id','order_status','order_approved_at']],
                 orders_items[['order_id','product_id','seller_id','price','freight_value']],
                 on="order_id")
query.head()

#### Merge com seleção de colunas com Left Join

In [ ]:
query = pd.merge(orders[['order_id','order_status','order_approved_at']],
                 orders_items[['order_id','product_id','seller_id','price','freight_value']],
                 on="order_id",
                 how="left")
query.head()

In [ ]:
query.isnull().sum()

#### Merge com seleção de colunas com Right Join

In [ ]:
query = pd.merge(orders[['order_id','order_status','order_approved_at']],
                 orders_items[['order_id','product_id','seller_id','price','freight_value']],
                 on="order_id",
                 how="right")
query.head()

In [ ]:
query.isnull().sum()

#### Merge com seleção de colunas com Outer Join

In [ ]:
query = pd.merge(orders[['order_id','order_status','order_approved_at']],
                 orders_items[['order_id','product_id','seller_id','price','freight_value']],
                 on="order_id",
                 how="outer")
query.head()

In [ ]:
query.isnull().sum()

## Pandas com Banco de Dados

#### Criando um servidor mysql docker local

1 - Instale o docker

2 - Execute a criação do container mysql com os parâmetros a baixo

```bash
docker run --name nome-do-container  \
-p 3306:3306 -p 33060:33060  \
-e MYSQL_ROOT_HOST='%' -e MYSQL_ROOT_PASSWORD='sua-senha'   \
-d mysql/mysql-server:latest
```

3 - Teste se o container funciona normalmente

```bash
sudo docker exec -it nome-do-container mysql -uroot -psua-senha
```

4 - Crie um usuário e senha para conexão

```bash
CREATE USER 'usuario' IDENTIFIED BY '12345';
```

5 - Dê permissões ao usuário

```bash
GRANT ALL PRIVILEGES ON *.* TO 'usuario' WITH GRANT OPTION;
```

6 - Inicie o servidor

```bash
sudo docker start nome-do-container
```

7 - [OPCIONAL] Caso queira parar o servidor 

```bash
sudo docker start nome-do-container
```

Neste código acima já está embutido configurações essenciais para a criação do container. 

No lugar de nome-do-container você deve colocar o nome que você quer dar para esse container e no lugar de sua-senha a senha para acessar o mysql com usuário root. O _:latest_ do final serve para instalar a versão mais recente, assim como o -p para configurar as portas que serão utilizadas.

Referência: https://www.webtutorial.com.br/como-instalar-o-mysql-usando-o-docker/

#### Criando exemplo para banco para os exercícios a seguir

**Passos**:

1 - Crie um database "employees"

2 - Crie a tabela:

```sql
CREATE TABLE employees.employees (
	emp_no integer,
	birth_date date,
	first_name varchar(255),
	last_name varchar(255),
	gender char(1),
	hire_date date
);

CREATE TABLE employees.departments (
	depto_no integer primary key,
	depto_name varchar(255)
);

CREATE TABLE employees.dept_emp (
	depto_no integer,
	emp_no integer,
	from_date date,
	to_date date
);
```

3 - Preenche a tabela com dados

```sql
INSERT INTO employees VALUES (1, '1987-09-09', 'João', 'Silva', 'M', '2020-06-21');
INSERT INTO employees VALUES (2, '1947-09-01', 'Julio', 'Oliveira', 'M', '2019-06-21');
INSERT INTO employees VALUES (3, '1997-07-03', 'Maria', 'Xavier', 'F', '2018-02-22');
INSERT INTO employees VALUES (4, '1987-08-05', 'José', 'Duarte', 'M', '2017-04-23');
INSERT INTO employees VALUES (5, '1977-09-06', 'Manoela', 'Lima', 'F', '2016-05-24');
INSERT INTO employees VALUES (6, '1967-05-07', 'Manoel', 'Silva', 'M', '2021-06-25');
INSERT INTO employees VALUES (7, '1957-03-03', 'Fernanda', 'Souza', 'F', '2020-07-26');
INSERT INTO employees VALUES (8, '1947-04-02', 'Daniel', 'Santos', 'M', '2019-08-27');
INSERT INTO employees VALUES (9, '1927-05-04', 'Renata', 'Arruda', 'F', '2018-09-28');
INSERT INTO employees VALUES (10, '1990-09-09', 'Renato', 'Oliveira', 'M', '2017-04-11');
INSERT INTO employees VALUES (11, '1987-10-10', 'Bruno', 'Dias', 'M', '2016-04-30');
INSERT INTO employees VALUES (12, '1987-11-11', 'Bruna', 'Carmo', 'F', '2021-03-21');
INSERT INTO employees VALUES (13, '1987-12-12', 'Larissa', 'Correa', 'F', '2020-01-11');
INSERT INTO employees VALUES (14, '1992-06-16', 'Leonardo', 'Xavier', 'M', '2021-04-21');
INSERT INTO employees VALUES (15, '1989-11-09', 'Bianca', 'Luiz', 'F', '2021-03-31');
INSERT INTO employees VALUES (16, '1987-02-09', 'Bernardo', 'Duarte', 'M', '2020-02-13');
INSERT INTO employees VALUES (17, '1998-09-09', 'Hugo', 'Lima', 'M', '2021-01-23');
INSERT INTO employees VALUES (18, '1923-01-29', 'Ricardo', 'Santos', 'M', '2020-05-22');
INSERT INTO employees VALUES (19, '1987-10-19', 'Lucas', 'Silva', 'M', '2021-04-24');
INSERT INTO employees VALUES (20, '1989-09-09', 'João', 'Fernando', 'M', '2020-03-21');

INSERT INTO employees.departments VALUES(1, 'administracao');
INSERT INTO employees.departments VALUES(2, 'suporte');
INSERT INTO employees.departments VALUES(3, 'financeiro');

INSERT INTO employees.dept_emp VALUES(1, 1, '2021-01-03', '2021-06-02');
INSERT INTO employees.dept_emp VALUES(2, 2, '2021-02-02', '2021-06-03');
INSERT INTO employees.dept_emp VALUES(3, 3, '2021-03-03', '2021-06-04');
INSERT INTO employees.dept_emp VALUES(1, 4, '2021-04-09', '2021-06-05');
INSERT INTO employees.dept_emp VALUES(2, 5, '2021-01-02', '2021-06-06');
INSERT INTO employees.dept_emp VALUES(3, 6, '2021-01-03', '2021-06-07');
INSERT INTO employees.dept_emp VALUES(1, 7, '2021-01-05', '2021-06-08');

```

#### Instalando o sqlalchemy

In [2]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/michel/Documentos/workspace-python/cursos/data_science_do_zero/env/lib/python3.9/site-packages (1.4.18)
Requirement already satisfied: greenlet!=0.4.17 in /home/michel/Documentos/workspace-python/cursos/data_science_do_zero/env/lib/python3.9/site-packages (from sqlalchemy) (1.1.0)

In [3]:
import pandas as pd
import sqlalchemy

#### Engine de conexão com o banco MySQL

Instalando o drive de conexão MySQL

In [4]:
!pip install pymysql
!pip install cryptography

Requirement already satisfied: pymysql in /home/michel/Documentos/workspace-python/cursos/data_science_do_zero/env/lib/python3.9/site-packages (1.0.2)
Requirement already satisfied: cryptography in /home/michel/Documentos/workspace-python/cursos/data_science_do_zero/env/lib/python3.9/site-packages (3.4.7)
Requirement already satisfied: cffi>=1.12 in /home/michel/Documentos/workspace-python/cursos/data_science_do_zero/env/lib/python3.9/site-packages (from cryptography) (1.14.5)
Requirement already satisfied: pycparser in /home/michel/Documentos/workspace-python/cursos/data_science_do_zero/env/lib/python3.9/site-packages (from cffi>=1.12->cryptography) (2.20)

Criando a engine de conexão
- sintaxe: 
engine = sqlalchemy.create_engine('mysql+drive://user:password@url:port/database')

In [13]:
engine = sqlalchemy.create_engine('mysql+pymysql://usuario:12345@localhost:3306/employees')

#### Ler tabela do banco com Pandas - read_sql_table

**Parametros:**
- table_name = Nome da tabela que será feita a leitura
- con = conexão criada pelo SQLAlchemy
- schema = schema onde a tabela tá armazenada
- index_col = coluna a ser definida como index

**Lendo tabela e transformando em dataframe**

In [14]:
df = pd.read_sql_table("employees", engine)

In [15]:
df.head()

   emp_no birth_date first_name last_name gender  hire_date
0       1 1987-09-09       João     Silva      M 2020-06-21
1       2 1947-09-01      Julio  Oliveira      M 2019-06-21
2       3 1997-07-03      Maria    Xavier      F 2018-02-22
3       4 1987-08-05       José    Duarte      M 2017-04-23
4       5 1977-09-06    Manoela      Lima      F 2016-05-24

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   emp_no      30 non-null     int64
 1   birth_date  30 non-null     datetime64[ns]
 2   first_name  30 non-null     object
 3   last_name   30 non-null     object
 4   gender      30 non-null     object
 5   hire_date   30 non-null     datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 1.5+ KB

**Lendo apenas algumas colunas da tabela**

In [18]:
df = pd.read_sql_table('employees', engine, columns=['first_name', 'last_name'])
df.head()

  first_name last_name
0       João     Silva
1      Julio  Oliveira
2      Maria    Xavier
3       José    Duarte
4    Manoela      Lima

#### Executar query na base de dados - read_sql_query

**Parametros:**
- sql = String SQL Query que deverá ser executada oara retorno de um conjunto de dados
- con = conexão criada pelo SQLAlchemy
- schema = schema onde a tabela tá armazenada
- index_col = coluna a ser definida como index

In [20]:
df = pd.read_sql_query("select * from employees", engine)
df.head()

   emp_no  birth_date first_name last_name gender   hire_date
0       1  1987-09-09       João     Silva      M  2020-06-21
1       2  1947-09-01      Julio  Oliveira      M  2019-06-21
2       3  1997-07-03      Maria    Xavier      F  2018-02-22
3       4  1987-08-05       José    Duarte      M  2017-04-23
4       5  1977-09-06    Manoela      Lima      F  2016-05-24

**Criando dataframe a partir da query e indexando pelo identificador do funcionario**

In [21]:
df = pd.read_sql_query("select * from employees", engine, index_col="emp_no")
df.head()

        birth_date first_name last_name gender   hire_date
emp_no
1       1987-09-09       João     Silva      M  2020-06-21
2       1947-09-01      Julio  Oliveira      M  2019-06-21
3       1997-07-03      Maria    Xavier      F  2018-02-22
4       1987-08-05       José    Duarte      M  2017-04-23
5       1977-09-06    Manoela      Lima      F  2016-05-24

**Criando um Dataframe com uma consulta mais elaborada**

In [23]:
query = "SELECT e.first_name, e.last_name, e.gender, d.depto_name, de.from_date, de.to_date \
FROM employees.employees e \
	INNER JOIN employees.dept_emp de on de.emp_no = e.emp_no \
	INNER JOIN employees.departments d on d.depto_no = de.depto_no;"

df = pd.read_sql_query(query, engine)
df.head()

  first_name last_name gender     depto_name   from_date     to_date
0       João     Silva      M  administracao  2021-01-03  2021-06-02
1      Julio  Oliveira      M        suporte  2021-02-02  2021-06-03
2      Maria    Xavier      F     financeiro  2021-03-03  2021-06-04
3       José    Duarte      M  administracao  2021-04-09  2021-06-05
4    Manoela      Lima      F        suporte  2021-01-02  2021-06-06

**Criando a query com parametros dinâmicos**

In [25]:
query = "SELECT e.first_name, e.last_name \
FROM employees.employees e \
WHERE first_name = %s;"

df = pd.read_sql_query(query, engine, params=["Lucas"])
df

  first_name last_name
0      Lucas     Silva

**Criando a query com parametros dinâmicos e nomeados**

In [31]:
query = "SELECT e.first_name, e.last_name \
FROM employees.employees e \
WHERE first_name = %(first_name_emp)s;"

df = pd.read_sql_query(query, 
                       engine, 
                       params={'first_name_emp': 'Lucas'})
df

  first_name last_name
0      Lucas     Silva

#### read_sql: roteamento entre read_sql_table e read_sql_query

Faz um roteamento entre read_table e read_sql_query.
Seleciona automaticamente um método internamente

**Parametros:**
- sql = String SQL Query que será executada
- con = conexão criada pelo SQLAlchemy
- schema = schema onde a tabela tá armazenada
- index_col = coluna a ser definida como index
- params = Lista de parametros a serem passados dinamicamente

Executando

In [34]:
df = pd.read_sql('departments', engine)
df

   depto_no     depto_name
0         1  administracao
1         2        suporte
2         3     financeiro